@import "tailwindcss";

@theme {
  --color-academy-orange-50: #fff7ed;
  --color-academy-orange-100: #ffedd5;
  --color-academy-orange-200: #fed7aa;
  --color-academy-orange-300: #fdba74;
  --color-academy-orange-400: #fb923c;
  --color-academy-orange-500: #f97316;
  --color-academy-orange-600: #ea580c;
  --color-academy-orange-700: #c2410c;
  --color-academy-orange-800: #9a3412;
  --color-academy-orange-900: #7c2d12;
  --color-academy-orange-950: #431407;

  --color-academy-red-50: #fef2f2;
  --color-academy-red-100: #fee2e2;
  --color-academy-red-200: #fecaca;
  --color-academy-red-300: #fca5a5;
  --color-academy-red-400: #f87171;
  --color-academy-red-500: #ef4444;
  --color-academy-red-600: #dc2626;
  --color-academy-red-700: #b91c1c;
  --color-academy-red-800: #991b1b;
  --color-academy-red-900: #7f1d1d;
  --color-academy-red-950: #450a0a;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased transition-colors duration-300;
  }
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
